<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <a href="/">Main page</a> | <a href="/guestbook">Guestbook</a> | <a href="/deleted_messages">Deleted messages</a>
    {% if user %}
    | <strong>{{ user.email() }}</strong>
    | <a href="{{ logout_url }}">Logout</a>
    {% else %}
    | <a href="{{ login_url }}">Login</a>
    {% endif %}
    {% block content %}{% endblock content %}


</body>
</html>